.zoos-content {
  display: flex;
  justify-content: start;
}
.zoos__slider {
  flex-direction: column;
  height: 550px;
  width: 210px;
  position: sticky;
  top: 154px;
  bottom: 800px;
  margin-top: 150px;
  margin-bottom: 60px;
  margin-left: 26px;
}
.slider__item {
  position: relative;
  background-color: #fff;
}
.prev {
  top: -30px;
  left: 92px;
}
.next {
  top: 580px;
  left: 92px;
}
.zoos__img {
  width: 108px;
  height: 108px;
  border-radius: 137px;
  pointer-events: auto;
}
.zoos__item_active::after {
  display: block;
  right: -10px;
  bottom: -10px;
  width: 157px;
  height: 157px;
  position: absolute;
  content: '';
  background: url(../../assets/icons/ellipse.svg) no-repeat;
}
.zoos__item_active .zoos__img {
  width: 137px;
  height: 137px;
}
.zoos__item_active {
  pointer-events: none;
  cursor: default;
}
.broadcast {
  width: 100%;
  display: flex;
}
.broadcast-title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333;
}
.broadcast-video {
  width: 790px;
}
.video-preview {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 32px;
}
.video-preview_item:after {
  width: 246px;
  height: 141px;
  content: '';
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.broadcast-description {
  margin-left: 30px;
}
.broadcast-description__title {
  margin-bottom: 6px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333;
}
.broadcast-description__text {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}
.broadcast-description-btn {
  margin-top: 35px;
 justify-content: flex-start;
}
.video-preview__buttons {
  text-align: center;
  margin-bottom: 41px;
}
[id^=button]{
  display: none;
}
[id^=button] + label{
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
  margin: 5px;
}
[id^=button]:checked + label{
  width: 11px;
  height: 11px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);;
}
